.outer-right-nav
{
    /* height: 100px; */
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-bottom: 1px solid gray;
}
.right-nav-more
{
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.imageModal
{
  /* background: white; */
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  height: fit-content;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}